.container {
  width: 400px;
  border: 1px solid #000;
}

.portraits {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.portraits img {
  width: 120px;
  height: 160px;
  object-fit: cover;
}

.portraits > li {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background-color: yellow;
}

.portraits > li > p, .portraits {
  margin: 0;
  padding: 0;
}



