.dialog{
    margin-left:123px
}



.dialog>li {

    position:relative;

    padding:15px 15px 15px 55px;

    margin:1em 0 1em 0em;

    border:5px solid #000000;

    color:#000;

    border-radius:10px;

    max-width:300px;

}


.dialog>li:before{

    content:"";

    position:absolute;

    display:block;

    width:0;

    top:10px;

    bottom:auto;

    left:-30px;

    border-style:solid;

    border-width:15px 30px 15px 0;

    border-color:transparent #000000;

}

.dialog>li:after{

    content:"";

    position:absolute;

    display:block;

    width:70px;

    height:90px;

    top: 0px;

    left:-100px;

}

.alice::after{
    background: url("aliceSiBob.png") -30px -380px;

}

.bob::after{
    background: url("aliceSiBob.png") -30px -150px;

}
