table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

td {
  width: auto;
  height: 140px;
  cursor: pointer;
}

img {
  opacity: 0;
  width: auto;
  height: 140px;
}

.uncovered {
  width: 130px;
  height: 130px;
}

.done {
  width: 100px;
  height: 100px;
}